// Drawer
#page-course-view-topics {
  // .ast-drawer {
  //   display: none;
  // }
  #page-navbar {
    .breadcrumb {
      display: none;
    }
  }
}

.section.course-section.main.section-summary {
  border-left: 13px solid #342ba6;
  padding-right: 30px;
  margin-bottom: 2rem;
  transition: all 200ms;
  box-shadow: -5px 5px 8px 0px #00000010;

  &:hover {
    border-left-width: 30px;
    padding-right: 13px;
    box-shadow: -5px 5px 12px 0px #00000020;
  }

  &:nth-of-type(2n) {
    border-left: 13px solid #bb74ff;

    &:hover {
      border-left-width: 30px;
      box-shadow: -5px 5px 12px 0px #00000020;
    }
  }

  .content {
    .section-summary-activities {
      text-align: left;
      &:nth-of-type(2n) {
        display: none;
      }
    }
  }
}

// Activities
.topics {
  #section-0 {
    display: none;
  }
  .course-section-header {
    .sectionname {
      text-align: left;
    }
  }
}

#courseindexsection0 {
  display: none !important;
}

.activity.activity-wrapper {
  margin-bottom: 2rem;
  transition: all 200ms;
  box-shadow: -5px 5px 8px 0px #00000010;
  padding: 0;
  border-radius: 10px;
  &:hover {
    box-shadow: -5px 5px 12px 0px #00000020;
  }
  .activity-info {
    align-self: center;
  }

  [data-region="completion-info"] {
    button {
      color: #352ba6;
      border-color: #352ba6;
      &:hover {
        background: #352ba6;
        color: white;
      }
    }
    .btn-success {
      background-color: white;
    }
  }
}

.activity.activity-wrapper.label {
  box-shadow: none;
  .activity-item {
    padding: 0;
  }
  .activity-altcontent {
    padding: 0;
  }
  &:hover {
    box-shadow: none;
  }
}

.activitytitle {
  .text-uppercase.small {
    display: none;
  }
}

.activityiconcontainer {
  background: #f6f6f7 !important;
  .activityicon {
    filter: invert(36%) sepia(66%) saturate(5497%) hue-rotate(251deg)
      brightness(100%) contrast(102%) !important;
  }
}

.ast-completion-badge--true {
  color: #352ba6;
  background-color: white;
  border: 1px solid #352ba6;
}

.ast-completion-badge--false {
  color: #352ba6;
  background-color: white;
  border: 1px solid #352ba6;
  padding: 0.8rem !important;
}

.activity-header {
  display: none;
}

#page-header {
  padding-bottom: 0.5rem;
  #page-navbar {
    margin-bottom: 1rem;
  }
  .page-header-headings {
    .text-muted.text-uppercase.small.line-height-3 {
      display: none;
    }
  }
}

// Books
.book_toc {
  li {
    margin-bottom: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Marketing templates

.ast-marketing-template-1 {
  padding: 40px;
  border-radius: 10px;
  position: relative;
  background-color: darkblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  overflow: hidden;

  a {
    padding: 12px 24px;
    background: #8940ff;
    color: white !important;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    text-decoration: none !important;
    font-weight: 600;
  }

  .images {
    img:nth-of-type(1) {
      position: absolute;
      z-index: 1;
      bottom: 3%;
      left: 5%;
    }

    img:nth-of-type(2) {
      position: absolute;
      z-index: 1;
      top: 35%;
      right: 2%;
    }

    img:nth-of-type(3) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      max-width: none;
      margin: 0;
      padding: 0;
    }
  }

  &__txt-wrp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
    // max-width: 400px;
    position: relative;
    z-index: 2;
  }

  &__h {
    font-size: 60px;
  }

  &__p {
    max-width: 450px;
  }

  // &__button {
  //   padding: 12px 24px;
  //   background: #8940ff;
  //   color: white !important;
  //   border-radius: 5px;
  //   border: none;
  //   box-shadow: none;
  //   text-decoration: none !important;
  // }

  &__line {
    width: 2px;
    height: 100%;
    background: white;
  }

  &__logos {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    gap: 0px 10px;
    width: 100%;
    z-index: 2;
    position: relative;

    img:nth-of-type(1) {
      object-fit: cover;
      height: 100%;
    }

    img:nth-of-type(2) {
      object-fit: cover;
      height: 100%;
    }
  }
}
