body {
  font-family: "Montserrat", sans-serif;
}

.pagelayout-login #page,
body {
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

.navbar.fixed-top {
  height: auto;
  align-items: center;
}
.navbar.fixed-top [data-key=home] {
  display: none;
}
.navbar.fixed-top .navbar-brand .logo {
  max-width: 156px;
}

.navbar.fixed-top [data-key=courses] {
  display: none;
}

.breadcrumb .breadcrumb-item {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#theme_boost-drawers-primary .drawercontent.drag-container .list-group a[href$="courses.php"] {
  display: none;
}
#theme_boost-drawers-primary .drawercontent.drag-container .list-group a[href$="?redirect=0"] {
  display: none;
}

.ast-round {
  border-radius: 10px;
}

.ast-footer.astutis {
  padding: 20px 15px;
  max-width: 250px;
}
.ast-footer.astutis p,
.ast-footer.astutis a {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.ast-footer__ctn {
  margin: 20px 0 40px 0;
}

.ast-footer__wrp {
  margin-bottom: 10px;
}

.ast-footer__heading {
  font-size: 16px;
  font-weight: 500;
}

.ast-footer__wrp.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ast-footer__social {
  width: 24px;
  text-align: center;
  transition: filter 200ms ease-in-out;
}
.ast-footer__social:hover {
  filter: brightness(2);
  cursor: pointer;
}

.ast-footer__social__icon.facebook {
  content: url([[pix:theme|site/social-icons/facebook]]);
}

.ast-footer__social__icon.twitter {
  content: url([[pix:theme|site/social-icons/twitter]]);
}

.ast-footer__social__icon.youtube {
  content: url([[pix:theme|site/social-icons/youtube]]);
}

.ast-footer__social__icon.linkedin {
  content: url([[pix:theme|site/social-icons/linkedin]]);
}

#h5p-iframe-5 body {
  background: green;
}

.rospa-logo {
  content: url(https://istvantothdesign.github.io/astutis/rospa-logo.png);
}

.amazon-logo {
  content: url(https://astutis.github.io/moodle/Astutis%20Theme/Images/Client%20logos/amazon%20logo.png);
}

@media only screen and (min-width: 1700px) {
  .pagelayout-login #page,
  body {
    background-size: cover !important;
    background-position: center;
  }
}
@media only screen and (max-width: 1700px) {
  .pagelayout-login #page,
  body {
    background-size: contain !important;
    background-position: center;
  }
}
@media only screen and (max-width: 950px) {
  .pagelayout-login #page,
  body {
    background: white !important;
  }
}
#page-mod-oublog-editpost #page-content,
#page-mod-oublog-participation #page-content,
#page-mod-forum-view #page-content,
#page-mod-forum-discuss #page-content,
#page-mod-forum-post #page-content,
#page-mod-oublog-editcomment #page-content,
#page-mod-oublog-viewpost #page-content {
  display: flex;
  justify-content: center;
}
#page-mod-oublog-editpost #page-content #region-main-box,
#page-mod-oublog-participation #page-content #region-main-box,
#page-mod-forum-view #page-content #region-main-box,
#page-mod-forum-discuss #page-content #region-main-box,
#page-mod-forum-post #page-content #region-main-box,
#page-mod-oublog-editcomment #page-content #region-main-box,
#page-mod-oublog-viewpost #page-content #region-main-box {
  max-width: 830px;
  width: 100%;
}

#page-mod-oublog-view #page-content {
  display: flex;
  justify-content: center;
}
#page-mod-oublog-view #page-content #region-main-box {
  max-width: 830px;
}
#page-mod-oublog-view #page-content #region-main-box #oublog-posts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#page-mod-oublog-view #page-content #region-main-box #oublog-posts .oublog-post {
  padding: 30px;
  background: transparent;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.0901960784);
  border-radius: 0.5rem;
}
#page-mod-oublog-view #page-content #region-main-box #oublog-posts .oublog-odd {
  border-left: 25px solid #a243ff;
}
#page-mod-oublog-view #page-content #region-main-box #oublog-posts .oublog-even {
  border-left: 25px solid #3127a4;
}
#page-mod-oublog-view #page-content #region-main-box .oublog-views {
  display: none;
}

.oublog div div div {
  align-items: center;
  justify-content: space-between;
}
.oublog div div div .activity-info {
  display: none !important;
}

.oublog-post {
  padding: 30px !important;
  background: transparent;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.0901960784);
  border-radius: 0.5rem;
  margin-top: 20px;
}
.oublog-post:nth-child(odd) {
  border-left: 25px solid #a243ff !important;
}
.oublog-post:nth-child(even) {
  border-left: 25px solid #3127a4 !important;
}

.oublog-comment {
  padding: 30px !important;
  background: transparent;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.0901960784);
  border-radius: 0.5rem !important;
  margin-top: 30px;
}
.oublog-comment:nth-child(odd) {
  border-left: 25px solid #3127a4 !important;
}
.oublog-comment:nth-child(even) {
  border-left: 25px solid #a243ff !important;
}

.oublog-post-commented {
  background: none;
}

.oublog .afterlink {
  display: none;
}

article:nth-of-type(1) .forumpost {
  padding: 30px !important;
  background: transparent;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.0901960784);
  border-radius: 0.5rem;
  border-left: 25px solid #a243ff !important;
  margin-top: 30px;
}
article:nth-of-type(1) .indent article:nth-child(odd) .forumpost {
  border-left: 25px solid #3127a4 !important;
}
article:nth-of-type(1) .indent article:nth-child(odd) .indent article .forumpost {
  border-left: 25px solid #3127a4 !important;
}
article:nth-of-type(1) .indent article:nth-child(even) .forumpost {
  border-left: 25px solid #a243ff !important;
}
article:nth-of-type(1) .indent article:nth-child(even) .indent article .forumpost {
  border-left: 25px solid #a243ff !important;
}

.ast-marketing-shadow {
  box-shadow: -5px 5px 8px 0 rgba(0, 0, 0, 0.062745098) !important;
}

.ast-marketing-template-button {
  padding: 12px 24px;
  background: #ae76f5;
  color: white !important;
  border-radius: 500px;
  border: none;
  box-shadow: none;
  text-decoration: none !important;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.168) inset;
  transition: background 200ms;
}
.ast-marketing-template-button:hover {
  background: #8a55cf;
}

.ast-marketing-template-1 {
  padding: 40px;
  border-radius: 10px;
  position: relative;
  background-color: darkblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  overflow: hidden;
}
.ast-marketing-template-1 a {
  padding: 12px 24px;
  background: #ae76f5;
  color: white !important;
  border-radius: 500px;
  border: none;
  box-shadow: none;
  text-decoration: none !important;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.168) inset;
  transition: background 200ms;
}
.ast-marketing-template-1 a:hover {
  background: #8a55cf;
}
.ast-marketing-template-1 a:focus {
  border: 2px solid rgb(102, 191, 255);
}
.ast-marketing-template-1 .images img:nth-of-type(1) {
  position: absolute;
  z-index: 1;
  bottom: 3%;
  left: 5%;
}
.ast-marketing-template-1 .images img:nth-of-type(2) {
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 2%;
}
.ast-marketing-template-1 .images img:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: none;
  margin: 0;
  padding: 0;
}
.ast-marketing-template-1__txt-wrp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
  position: relative;
  z-index: 2;
}
.ast-marketing-template-1__h {
  font-size: 60px;
}
.ast-marketing-template-1__p {
  max-width: 450px;
}
.ast-marketing-template-1__line {
  width: 2px;
  height: 100%;
  background: white;
}
.ast-marketing-template-1__logos {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  gap: 0px 10px;
  width: 100%;
  z-index: 2;
  position: relative;
}
.ast-marketing-template-1__logos img:nth-of-type(1) {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.ast-marketing-template-1__logos img:nth-of-type(2) {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.ast-marketing-template-2 {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: white;
  position: relative;
}
.ast-marketing-template-2__img-wrp {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.ast-marketing-template-2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: none;
  margin: 0;
  padding: 0;
}
.ast-marketing-template-2__link-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.ast-marketing-template-2 a {
  padding: 12px 24px;
  background: #ae76f5;
  color: white !important;
  border-radius: 500px;
  border: none;
  box-shadow: none;
  text-decoration: none !important;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.168) inset;
  transition: background 200ms;
}
.ast-marketing-template-2 a:hover {
  background: #8a55cf;
}
.ast-marketing-template-2 a:focus {
  border: 2px solid rgb(102, 191, 255);
}/*# sourceMappingURL=site-wide.css.map */