@media (min-width: 992px) {
  .path-course #region-main-box {
    max-width: 100%;
    margin: auto;
  }
}
/*Usage
.selector {
  color: red;

  @include respond-to('small') {
    color: blue;
  }
}
*/
/*
@import "_page-loader";
@import "_skins";
@import "_site-wide";
*/
.ast-bold {
  font-weight: bold;
}

.ast-italic {
  font-style: italic;
}

.ast-underlined {
  text-decoration: underline;
}

.ast-text-align--left {
  text-align: left;
}

.ast-text-align--right {
  text-align: right;
}

.ast-text-align--center {
  text-align: center;
}

.ast-vtext-ctn {
  position: relative;
}

.ast-vtext-wrp {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ast-vtext-rotate {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.ast-img {
  width: 100%;
  margin: 40px 0;
  border-radius: 20px;
}

.ast-img--medium {
  width: 100%;
  max-width: 600px;
  margin: 40px 0;
  border-radius: 20px;
}

.ast-img__table {
  margin: 0;
  width: 200px;
  border-radius: 20px;
}

.ast-img__table-small {
  margin: 0;
  max-width: 100px;
  border-radius: 20px;
}

.ast-bg--transparent {
  background-color: none;
}

.ast-txt--purple {
  color: #a243ff;
}

.ast-txt--blue {
  color: #3e3eff;
}

.ast-p-and-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ast-p-and-img__p {
  flex: 1 1 400px;
  margin-right: 10px;
}

.ast-p-and-img__img {
  flex: 1 1 300px;
  margin-left: 10px;
}

.ast-flex--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ast-flex--center--top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ast-flex-child {
  flex: 1 1 0;
}

.ast-flex--left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.ast-flex-col--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ast-padding-medium {
  padding: 20px;
}

.ast-border-round {
  border-radius: 20px;
}

.ast-margin-bot-medium {
  margin-bottom: 20px;
}

.ast-margin-medium--topbot {
  margin: 20px 0;
}

.ast-embed--vimeo {
  margin: 0 0 40px 0 !important;
  padding-top: 60% !important;
}

.ast-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #0c0b28;
  color: #ffffff;
  padding: 20px;
  overflow: auto;
  border-radius: 10px;
}
.ast-title h2 {
  margin: 20px 0;
}
@media (max-width: 767px) {
  .ast-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .ast-title img {
    order: 1;
    display: none;
  }
  .ast-title h2 {
    order: 2;
    margin: 20px 0 20px 0;
    text-align: center;
  }
}

.ast-title--e1 {
  background: #3127a3;
}

.ast-title--e2 {
  background: #a343ff;
}

.ast-title--e3 {
  background: #ff9916;
}

.ast-title--e4 {
  background: #3e3ffe;
}

.ast-title--e5 {
  background: #16d0f5;
}

.ast-title--e6 {
  background: #4ed8ba;
}

.ast-title--e7 {
  background: #be663e;
}

.ast-title--e8 {
  background: #df5542;
}

.ast-title--e9 {
  background: #9fd81b;
}

.ast-title--e10 {
  background: #ff522a;
}

.ast-title--e11 {
  background: #3bd488;
}

.ast-title--e12 {
  background: #e92438;
}

.ast-title--e13 {
  background: #641ac2;
}

.ast-title--e14 {
  background: #199bb7;
}

.ast-title--e15 {
  background: #ee8823;
}

.ast-title__img {
  width: 70px;
  margin-left: 20px;
}

.ast-heading--h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #3e3eff;
  color: #ffffff;
  padding: 10px;
}
.ast-heading--h2 h5 {
  margin: 0;
}

.ast-heading--h3 {
  color: #3e3eff;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.ast-heading--h4 {
  color: #3e3eff;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.ast-heading--h5 {
  color: #a243ff;
  font-weight: bold;
  font-size: 24px;
  margin: 60px 0 30px;
}

.ast-heading--h6 {
  margin: 0;
  font-weight: bold;
}

.ast-list {
  background-color: #f6ecff;
  max-width: 725px;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
}
.ast-list ul li {
  margin: 0;
}
.ast-list .ast-heading--h4 {
  margin-top: 0;
}

.ast-list__plain {
  list-style: none;
}

.ast-list__plain__item {
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ast-list__bullet {
  list-style: none;
  margin-bottom: 4px;
}

.ast-list__bullet__item {
  margin-left: 25px;
  margin-bottom: 5px;
}

.ast-list__bullet__item::before {
  content: "";
  border-color: transparent #a243ff;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1.4em;
  top: 0.9em;
  position: relative;
}

.ast-list-second {
  background-color: #f6ecff;
  max-width: 725px;
  padding: 0 25px;
  border-radius: 10px;
}
.ast-list-second ul li {
  margin: 5px 0;
}

.ast-list__bullet-second {
  list-style: none;
}

.ast-list__bullet__item-second::before {
  content: "";
  background-color: #a243ff;
  border-radius: 50%;
  display: block;
  height: 5px;
  width: 5px;
  left: -1.4em;
  top: 0.8em;
  position: relative;
}

.ast-list__numbered {
  list-style: none;
  counter-reset: list-number;
  padding-left: 0;
  margin-bottom: 0;
}
.ast-list__numbered li:last-child {
  margin-bottom: 0px;
}

.ast-list__numbered__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.ast-list__numbered__item::before {
  counter-increment: list-number;
  content: counter(list-number) ")";
  color: #a243ff;
}

.ast-list__numbered__item__div {
  margin-left: 15px;
}

.ast-list__numbered--plain li {
  margin-bottom: 10px;
}

/* Old Alphabetical order
.ast-list__aplhabet {
  list-style: lower-alpha;
  padding-left: 0;
  margin-bottom: 0;
  li:last-child {
    margin-bottom: 0px;
  }
}
.ast-list__aplhabet__item {
  margin: 0 0 20px 20px;
  padding-left: 15px;
  &::marker {
    color: $purple;
  }
}
*/
.ast-list__aplhabet {
  /* list-style: lower-alpha; */
  padding-left: 0;
  margin-bottom: 0;
  counter-reset: list;
}
.ast-list__aplhabet li:last-child {
  margin-bottom: 0px;
}

.ast-list__aplhabet__item {
  margin: 0 0 20px 20px;
  padding-left: 15px;
  position: relative;
  list-style: none;
}

.ast-list__aplhabet__item:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
  position: absolute;
  left: -0.8em;
  color: #a243ff;
  font-weight: 600;
}

.ast-quote {
  background-color: #f6ecff;
  max-width: 725px;
  padding: 25px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  font-style: italic;
}
.ast-quote p {
  margin: 0;
}

.ast-blue-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ast-blue-box {
  background-color: #e7e7ff;
  max-width: 725px;
  padding: 25px;
  margin: 20px 20px;
  border-radius: 10px;
}
.ast-blue-box p {
  margin: 0;
}

.ast-blue-box-p {
  background-color: #e7e7ff;
  max-width: 725px;
  padding: 25px;
  margin: 20px 20px;
  border-radius: 10px;
}
.ast-blue-box-p p:last-child {
  margin-bottom: 0;
}

.ast-yellow-box {
  background-color: #ffd7a3;
  max-width: 725px;
  padding: 25px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.ast-example {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 10px auto 40px auto;
  max-width: 725px;
}

.ast-example__label {
  background-color: #a243ff;
  font-weight: bold;
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  max-width: 110px;
}
.ast-example__label p {
  margin: 0;
}

.ast-example__content {
  background-color: #f6ecff;
  padding: 20px;
  margin-top: 5px;
  border-radius: 0 10px 10px 10px;
}

.ast-table {
  margin: 40px 0;
}

@media (max-width: 767px) {
  .ast-table--desktop {
    display: none;
  }
}

@media (max-width: 1200px) {
  .ast-table--desktop--large {
    display: none;
  }
}

@media (min-width: 767px) {
  .ast-table--mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ast-table--mobile--large {
    display: none;
  }
}

.ast-table__ctn {
  margin: auto;
}

.ast-table__ctn__wrp__row {
  padding: 20px;
  border: 2px solid #ffffff;
  vertical-align: top;
}
@media (max-width: 767px) {
  .ast-table__ctn__wrp__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.ast-table__ctn__wrp__row--v {
  padding: 20px;
  border: 2px solid #ffffff;
  vertical-align: top;
}
.ast-table__ctn__wrp__row--v p {
  margin-bottom: 15px !important;
}

.ast-table__ctn__wrp__row--fixed {
  width: 300px;
}

.wide {
  width: auto;
}

.ast-table__ctn__wrp__heading {
  background-color: #a243ff;
  color: #ffffff;
  text-align: left;
}

.ast-table__ctn__wrp__data__row-odd {
  background-color: #ecd9ff;
}

.ast-table__ctn__wrp__data__row-even {
  background-color: #f6ecff;
}

.ast-table__div-container {
  padding: 20px;
  margin-bottom: 20px;
}

.ast-table__div {
  margin-bottom: 20px;
}

.ast-table__div-odd {
  background-color: #ecd9ff;
  padding: 20px;
  border-radius: 10px;
}

.ast-table__div-even {
  background-color: #f6ecff;
  padding: 20px;
  border-radius: 10px;
}

.ast-card {
  margin: 40px 0 40px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.ast-card__img-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #7cc8bd;
  border-radius: 10px 0 0 10px;
  padding: 20px 10px 20px 20px;
}
@media (max-width: 767px) {
  .ast-card__img-wrp {
    display: none;
  }
}
.ast-card__img-wrp img {
  width: 90px;
  height: auto;
}

.ast-card__ctnt-wrp {
  background: #7cc8bd;
  border-radius: 0 10px 10px 10px;
  padding-top: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .ast-card__ctnt-wrp {
    border-radius: 10px;
  }
}

.ast-card__ctnt-wrp__header {
  margin-left: 50px;
  color: #ffffff;
}

.ast-card__ctnt-wrp__ctnt {
  background: #ffffff;
  border-radius: 10px;
  padding: 40px;
  margin: 10px 10px 10px 10px;
}

.ast-case-law {
  width: 130px;
  height: 130px;
}
.ast-case-law img {
  width: 120px;
}

.ast-discovery {
  background: #ff9a15;
}
.ast-discovery .ast-card__ctnt-wrp__ctnt .ast-bold {
  margin-bottom: 0;
}
.ast-discovery .ast-card__ctnt-wrp__ctnt .ast-list__bullet {
  padding-left: 0;
}
.ast-discovery .ast-card__ctnt-wrp__ctnt br {
  display: none;
}

.ast-list__bullet__item-discovery {
  margin-left: 25px;
  margin-bottom: 5px;
}

.ast-list__bullet__item-discovery::before {
  content: "";
  border-color: transparent #ff9a15;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1.4em;
  top: 0.9em;
  position: relative;
}

.ast-explore {
  background: #3e3eff;
}

.ast-embed {
  overflow: hidden;
  margin-top: 40px;
  padding-top: 56.25%;
  position: relative;
}

.ast-embed__iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ast-card__img-wrp.ast-explore {
  width: 130px;
  height: 130px;
  padding: 0 15px 0 20px;
}
.ast-card__img-wrp.ast-explore img {
  width: 95px;
  height: auto;
}

/* Legacy
.ast-yt-embed {
  text-align: center;
  height: 400px;
}
.ast-yt-embed__iframe {
  width: 100%;
  height: 100%;
  //min-height: 316px;
  margin: 40px 0 20px 0;

}

*/
.ast-mission {
  background: #a243ff;
}

.ast-card__ctnt-wrp__ctnt__sound {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.ast-card__ctnt-wrp__ctnt__sound__icon {
  width: 40px;
  margin-right: 10px;
}

.ast-card__img-wrp.ast-mission {
  width: 130px;
  height: 130px;
  padding: 0 15px 0 20px;
}
.ast-card__img-wrp.ast-mission img {
  width: 95px;
  height: auto;
}

.ast-floater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ast-floater__ctn {
  max-width: 725px;
  font-style: italic;
  padding: 25px;
  background: #f6ecff;
  border-radius: 15px;
}

.ast-discovery img {
  content: url("https://astutis.github.io/moodle/Courses/Nebosh%20Diploma/Images/DiscoveryLearning-icon%20copy-web.png");
}

.ast-explore img {
  content: url("https://astutis.github.io/moodle/Courses/Nebosh%20Diploma/Images/explore-more-icon.png");
}

/*Exit activity button (visible in SCORM activities)*/
#page-header .ml-auto.d-flex {
  align-items: center;
}

/*Lottie player*/
.ast-lottie-player {
  width: 100%;
  height: 100%;
}

/* Leagacy
.ast-floater {
  width: 450px;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  background: $light-purple;
  float: right;
  font-style: italic;
}
*/

/* Leagacy
.ast-floater {
  width: 450px;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  background: $light-purple;
  float: right;
  font-style: italic;
}
*//*# sourceMappingURL=style.css.map */