//Elements
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//Local Variabels
$text: #1a1657;
$bg1: #e7e7ff;
$bg2: #ffedd6;

//Astutis Variabels
$e0: #0c0b28;
$e1: #3127a3;
$e2: #a343ff;
$e3: #ff9916;
$e4: #3e3ffe;
$e5: #16d0f5;
$e6: #4ed8ba;
$e7: #be663e;
$e8: #df5542;
$e9: #9fd81b;
$e10: #ff522a;
$e11: #3bd488;
$e12: #e92438;
$e13: #641ac2;
$e14: #199bb7;
$e15: #ee8823;

$case-law: #7cc8bd;
$discovery: #ff9a15;
$explore: #3e3eff;
$mission: #a243ff;

$blue: #3e3eff;
$brigh-blue: $bg1;
$purple: #a243ff;
//$mid-purple-odd: #e3c6ff;
$mid-purple-odd: #ecd9ff;
//$mid-purple-even: #ecd9ff;
$mid-purple-even: #f6ecff;
$light-purple: #f6ecff;
$white: #ffffff;

///ASTUTIS STYLES

//Media Queries
$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
);
// Mixin to manage responsive breakpoints
// @author Kitty Giraudel
// @param {String} $breakpoint - Breakpoint name
// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
@mixin respond-to--min($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Custom
@media (min-width: 992px) {
  .path-course #region-main-box {
    max-width: 100%;
    margin: auto;
  }
}

/*Usage
.selector {
  color: red;
  
  @include respond-to('small') {
    color: blue;
  }
}
*/

//IMPORTS
/*
@import "_page-loader";
@import "_skins";
@import "_site-wide";
*/

//Text Styles
.ast-bold {
  font-weight: bold;
}
.ast-italic {
  font-style: italic;
}
.ast-underlined {
  text-decoration: underline;
}

.ast-text-align--left {
  text-align: left;
}
.ast-text-align--right {
  text-align: right;
}
.ast-text-align--center {
  text-align: center;
}

//Vertical text
.ast-vtext-ctn {
  position: relative;
}
.ast-vtext-wrp {
  position: absolute;
  top: 50%;
  left: 50%;
}
.ast-vtext-rotate {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

//Image
.ast-img {
  width: 100%;
  margin: 40px 0;
  border-radius: 20px;
}
.ast-img--medium {
  width: 100%;
  max-width: 600px;
  margin: 40px 0;
  border-radius: 20px;
}

.ast-img__table {
  margin: 0;
  width: 200px;
  border-radius: 20px;
}

.ast-img__table-small {
  margin: 0;
  max-width: 100px;
  border-radius: 20px;
}

//Colours
.ast-bg--transparent {
  background-color: none;
}
.ast-txt--purple {
  color: $purple;
}
.ast-txt--blue {
  color: $blue;
}

//Elements
.ast-p-and-img {
  @include flex(row, center, center);
  flex-wrap: wrap;
}
.ast-p-and-img__p {
  flex: 1 1 400px;
  margin-right: 10px;
}
.ast-p-and-img__img {
  flex: 1 1 300px;
  margin-left: 10px;
}

.ast-flex--center {
  @include flex(row, center, center);
  flex-wrap: wrap;
}
.ast-flex--center--top {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
}
.ast-flex-child {
  flex: 1 1 0;
}

.ast-flex--left {
  @include flex(row, left, center);
  flex-wrap: wrap;
}

.ast-flex-col--center {
  @include flex(column, center, center);
}

.ast-padding-medium {
  padding: 20px;
}

.ast-border-round {
  border-radius: 20px;
}

.ast-margin-bot-medium {
  margin-bottom: 20px;
}
.ast-margin-medium--topbot {
  margin: 20px 0;
}

.ast-embed--vimeo {
  margin: 0 0 40px 0 !important;
  padding-top: 60% !important;
}

//Headings
.ast-title {
  @include flex(row, space-between, center);
  margin-bottom: 20px;
  background-color: $e0;
  color: #ffffff;
  padding: 20px;
  overflow: auto;
  border-radius: 10px;
  h2 {
    margin: 20px 0;
  }
  @include respond-to("small") {
    @include flex(column, space-between, center);
    img {
      order: 1;
      //width: 20%;
      display: none;
    }
    h2 {
      order: 2;
      margin: 20px 0 20px 0;
      text-align: center;
    }
  }
}
.ast-title--e1 {
  background: $e1;
}
.ast-title--e2 {
  background: $e2;
}
.ast-title--e3 {
  background: $e3;
}
.ast-title--e4 {
  background: $e4;
}
.ast-title--e5 {
  background: $e5;
}
.ast-title--e6 {
  background: $e6;
}
.ast-title--e7 {
  background: $e7;
}
.ast-title--e8 {
  background: $e8;
}
.ast-title--e9 {
  background: $e9;
}
.ast-title--e10 {
  background: $e10;
}
.ast-title--e11 {
  background: $e11;
}
.ast-title--e12 {
  background: $e12;
}
.ast-title--e13 {
  background: $e13;
}
.ast-title--e14 {
  background: $e14;
}
.ast-title--e15 {
  background: $e15;
}
.ast-title__img {
  width: 70px;
  margin-left: 20px;
}

.ast-heading--h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  background: $blue;
  color: #ffffff;
  padding: 10px;
  h5 {
    margin: 0;
  }
}

.ast-heading--h3 {
  color: $blue;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.ast-heading--h4 {
  color: $blue;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
}

//New
.ast-heading--h5 {
  color: $purple;
  font-weight: bold;
  font-size: 24px;
  margin: 60px 0 30px;
}
.ast-heading--h6 {
  margin: 0;
  font-weight: bold;
}

//Lists *EDIT-1-1
.ast-list {
  background-color: $light-purple;
  max-width: 725px;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  ul {
    li {
      margin: 0;
    }
  }
  .ast-heading--h4 {
    margin-top: 0;
  }
}

.ast-list__plain {
  list-style: none;
}
.ast-list__plain__item {
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ast-list__bullet {
  list-style: none;
  margin-bottom: 4px;
}
.ast-list__bullet__item {
  margin-left: 25px;
  margin-bottom: 5px;
}
.ast-list__bullet__item::before {
  content: "";
  border-color: transparent $purple;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1.4em;
  top: 0.9em;
  position: relative;
}

.ast-list-second {
  background-color: $light-purple;
  max-width: 725px;
  padding: 0 25px;
  border-radius: 10px;
  ul {
    li {
      margin: 5px 0;
    }
  }
}
.ast-list__bullet-second {
  list-style: none;
}

.ast-list__bullet__item-second::before {
  content: "";
  background-color: $purple;
  border-radius: 50%;
  display: block;
  height: 5px;
  width: 5px;
  left: -1.4em;
  top: 0.8em;
  position: relative;
}

.ast-list__numbered {
  list-style: none;
  counter-reset: list-number;
  padding-left: 0;
  margin-bottom: 0;
  li:last-child {
    margin-bottom: 0px;
  }
}
.ast-list__numbered__item {
  margin-bottom: 20px;
  @include flex(row, flex-start, flex-start);
}
.ast-list__numbered__item::before {
  counter-increment: list-number;
  content: counter(list-number) ")";
  color: $purple;
}
.ast-list__numbered__item__div {
  margin-left: 15px;
}

.ast-list__numbered--plain {
  //margin-left: 20px;
  li {
    margin-bottom: 10px;
  }
}
/* Old Alphabetical order
.ast-list__aplhabet {
  list-style: lower-alpha;
  padding-left: 0;
  margin-bottom: 0;
  li:last-child {
    margin-bottom: 0px;
  }
}
.ast-list__aplhabet__item {
  margin: 0 0 20px 20px;
  padding-left: 15px;
  &::marker {
    color: $purple;
  }
}
*/

.ast-list__aplhabet {
  /* list-style: lower-alpha; */
  padding-left: 0;
  margin-bottom: 0;
  counter-reset: list;
  li:last-child {
    margin-bottom: 0px;
  }
}
.ast-list__aplhabet__item {
  margin: 0 0 20px 20px;
  padding-left: 15px;
  position: relative;
  list-style: none;
}

.ast-list__aplhabet__item:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
  position: absolute;
  left: -0.8em;
  color: $purple;
  font-weight: 600;
}

//Quotes
.ast-quote {
  background-color: $light-purple;
  max-width: 725px;
  padding: 25px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  font-style: italic;
  p {
    margin: 0;
  }
}

//Blue box
.ast-blue-box-container {
  @include flex(row, center, center);
  width: 100%;
}
//Legacy
.ast-blue-box {
  background-color: $brigh-blue;
  max-width: 725px;
  padding: 25px;
  margin: 20px 20px;
  border-radius: 10px;
  p {
    margin: 0;
  }
}

//Use this one!
.ast-blue-box-p {
  background-color: $brigh-blue;
  max-width: 725px;
  padding: 25px;
  margin: 20px 20px;
  border-radius: 10px;
  p:last-child {
    margin-bottom: 0;
  }
}

//Yellow Box
.ast-yellow-box {
  background-color: #ffd7a3;
  max-width: 725px;
  padding: 25px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: bold;
}

//Example Box
.ast-example {
  @include flex(column, left, left);
  margin: 10px auto 40px auto;
  max-width: 725px;
}
.ast-example__label {
  background-color: $purple;
  font-weight: bold;
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  max-width: 110px;
  p {
    margin: 0;
  }
}
.ast-example__content {
  background-color: $light-purple;
  padding: 20px;
  margin-top: 5px;
  border-radius: 0 10px 10px 10px;
}

//Tables
.ast-table {
  margin: 40px 0;
}
.ast-table--desktop {
  @include respond-to("small") {
    display: none;
  }
}
.ast-table--desktop--large {
  @include respond-to("large") {
    display: none;
  }
}

.ast-table--mobile {
  @include respond-to--min("small") {
    display: none;
  }
}
.ast-table--mobile--large {
  @include respond-to--min("large") {
    display: none;
  }
}
.ast-table__ctn {
  margin: auto;
}
.ast-table__ctn__wrp__row {
  padding: 20px;
  //Legacy padding: 20px;
  border: 2px solid $white;
  vertical-align: top;
  @include respond-to("small") {
    @include flex(column, center, center);
  }
}
.ast-table__ctn__wrp__row--v {
  padding: 20px;
  //Legacy padding: 20px;
  border: 2px solid $white;
  vertical-align: top;
  p {
    margin-bottom: 15px !important;
  }
}
.ast-table__ctn__wrp__row--fixed {
  width: 300px;
}

.wide {
  width: auto;
}
.ast-table__ctn__wrp__heading {
  background-color: $purple;
  color: $white;
  text-align: left;
  //padding: 10px;
}

.ast-table__ctn__wrp__data__row-odd {
  background-color: $mid-purple-odd;
}
.ast-table__ctn__wrp__data__row-even {
  background-color: $mid-purple-even;
}

//New
.ast-table__div-container {
  padding: 20px;
  margin-bottom: 20px;
}
.ast-table__div {
  margin-bottom: 20px;
}
.ast-table__div-odd {
  background-color: $mid-purple-odd;
  padding: 20px;
  border-radius: 10px;
}
.ast-table__div-even {
  background-color: $mid-purple-even;
  padding: 20px;
  border-radius: 10px;
}

///Cards *EDIT-2-1
//Case Law
.ast-card {
  margin: 40px 0 40px 0;
  position: relative;
  @include flex(row, flex-start, flex-start);
}
.ast-card__img-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: $case-law;
  border-radius: 10px 0 0 10px;
  padding: 20px 10px 20px 20px;
  @include respond-to("small") {
    display: none;
  }
  img {
    width: 90px;
    height: auto;
  }
}
.ast-card__ctnt-wrp {
  background: $case-law;
  border-radius: 0 10px 10px 10px;
  @include respond-to("small") {
    border-radius: 10px;
  }
  padding-top: 10px;
  width: 100%;
}
.ast-card__ctnt-wrp__header {
  margin-left: 50px;
  color: $white;
}
.ast-card__ctnt-wrp__ctnt {
  background: $white;
  border-radius: 10px;
  padding: 40px;
  margin: 10px 10px 10px 10px;
}

.ast-case-law {
  width: 130px;
  height: 130px;
  img {
    width: 120px;
  }
}

//Discovery Learning
.ast-discovery {
  background: $discovery;
  .ast-card__ctnt-wrp__ctnt {
    .ast-bold {
      margin-bottom: 0;
    }
    .ast-list__bullet {
      padding-left: 0;
    }
    br {
      display: none;
    }
  }
}

.ast-list__bullet__item-discovery {
  margin-left: 25px;
  margin-bottom: 5px;
}
.ast-list__bullet__item-discovery::before {
  content: "";
  border-color: transparent $discovery;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1.4em;
  top: 0.9em;
  position: relative;
}

//Explore More
.ast-explore {
  background: $explore;
}

.ast-embed {
  overflow: hidden;
  margin-top: 40px;
  padding-top: 56.25%;
  //padding-top: 75%;
  position: relative;
}
.ast-embed__iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ast-card__img-wrp.ast-explore {
  width: 130px;
  height: 130px;
  padding: 0 15px 0 20px;
  img {
    width: 95px;
    height: auto;
  }
}

/* Legacy
.ast-yt-embed {
  text-align: center;
  height: 400px;
}
.ast-yt-embed__iframe {
  width: 100%;
  height: 100%;
  //min-height: 316px;
  margin: 40px 0 20px 0;
  
}

*/

//Astutis Mission
.ast-mission {
  background: $purple;
}

.ast-card__ctnt-wrp__ctnt__sound {
  @include flex(row, flex-start, center);
  margin-bottom: 20px;
}
.ast-card__ctnt-wrp__ctnt__sound__icon {
  width: 40px;
  margin-right: 10px;
}

.ast-card__img-wrp.ast-mission {
  width: 130px;
  height: 130px;
  padding: 0 15px 0 20px;
  img {
    width: 95px;
    height: auto;
  }
}

//Floater
.ast-floater {
  @include flex(column, center, center);
  width: 100%;
}
.ast-floater__ctn {
  max-width: 725px;
  font-style: italic;
  padding: 25px;
  background: $light-purple;
  border-radius: 15px;
}

.ast-discovery img {
  content: url("https://astutis.github.io/moodle/Courses/Nebosh%20Diploma/Images/DiscoveryLearning-icon%20copy-web.png");
}

.ast-explore img {
  content: url("https://astutis.github.io/moodle/Courses/Nebosh%20Diploma/Images/explore-more-icon.png");
}
/*Exit activity button (visible in SCORM activities)*/
#page-header .ml-auto.d-flex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*Lottie player*/
.ast-lottie-player {
  width: 100%;
  height: 100%;
}

/* Leagacy
.ast-floater {
  width: 450px;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  background: $light-purple;
  float: right;
  font-style: italic;
}
*/
/*# sourceMappingURL=style.css.map */

/* Leagacy
.ast-floater {
  width: 450px;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  background: $light-purple;
  float: right;
  font-style: italic;
}
*/
