* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  align-items: center;
  justify-content: center;
}

.marketing-templates-wrp {
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 50px 0px;
}

.ast-marketing-shadow {
  box-shadow: -5px 5px 8px 0 rgba(0, 0, 0, 0.062745098) !important;
}

.ast-marketing-template-button {
  padding: 12px 24px;
  background: #ae76f5;
  color: white !important;
  border-radius: 500px;
  border: none;
  box-shadow: none;
  text-decoration: none !important;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.168) inset;
  transition: background 200ms;
}
.ast-marketing-template-button:hover {
  background: #8a55cf;
}

.ast-marketing-template-1 {
  padding: 40px;
  border-radius: 10px;
  position: relative;
  background-color: darkblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  overflow: hidden;
}
.ast-marketing-template-1 a {
  padding: 12px 24px;
  background: #ae76f5;
  color: white !important;
  border-radius: 500px;
  border: none;
  box-shadow: none;
  text-decoration: none !important;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.168) inset;
  transition: background 200ms;
}
.ast-marketing-template-1 a:hover {
  background: #8a55cf;
}
.ast-marketing-template-1 a:focus {
  border: 2px solid rgb(102, 191, 255);
}
.ast-marketing-template-1 .images img:nth-of-type(1) {
  position: absolute;
  z-index: 1;
  bottom: 3%;
  left: 5%;
}
.ast-marketing-template-1 .images img:nth-of-type(2) {
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 2%;
}
.ast-marketing-template-1 .images img:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: none;
  margin: 0;
  padding: 0;
}
.ast-marketing-template-1__txt-wrp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
  position: relative;
  z-index: 2;
}
.ast-marketing-template-1__h {
  font-size: 60px;
}
.ast-marketing-template-1__p {
  max-width: 450px;
}
.ast-marketing-template-1__line {
  width: 2px;
  height: 100%;
  background: white;
}
.ast-marketing-template-1__logos {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  gap: 0px 10px;
  width: 100%;
  z-index: 2;
  position: relative;
}
.ast-marketing-template-1__logos img:nth-of-type(1) {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.ast-marketing-template-1__logos img:nth-of-type(2) {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.ast-marketing-template-2 {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: white;
  position: relative;
}
.ast-marketing-template-2__img-wrp {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.ast-marketing-template-2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: none;
  margin: 0;
  padding: 0;
}
.ast-marketing-template-2__link-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.ast-marketing-template-2 a {
  padding: 12px 24px;
  background: #ae76f5;
  color: white !important;
  border-radius: 500px;
  border: none;
  box-shadow: none;
  text-decoration: none !important;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.168) inset;
  transition: background 200ms;
}
.ast-marketing-template-2 a:hover {
  background: #8a55cf;
}
.ast-marketing-template-2 a:focus {
  border: 2px solid rgb(102, 191, 255);
}/*# sourceMappingURL=style.css.map */